body {
    margin: 0px;
    padding: 0px;
    background-color: #cbc9e3;
}
.main {
    text-align: center;
}
.scroll-container {
  overflow: hidden;
  width: 100%;
}

.scroll-content {
  display: flex;
  animation: scroll 30s linear infinite;
}

.minibox {
  width: 25%;
  height: 15rem;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  margin-right: 10px;
  border: 0.25rem solid #7A85C1;
  border-radius: 1rem;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%); /* shift full width of original set */
  }
}

.box2 {
    text-align: left;
}
h1 {
    color: #1A2A80;
}
h2 {
    color: #1A2A80;
}
p {
    color: #3B38A0;
}
ul {
    color: #3B38A0;
}
li {
    color: #3B38A0;
}