body {
    background-color: #FBF3B9;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.volunteer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.boxinsides1 {
    height: 10vb;
    background-color: #FFDCCC;
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 2rem;

}
.boxinsides2 {
    height: 10vb;
    background-color: #d7d5ef;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    gap: 2rem;

}
.profile {
    background-color: #FDB7EA;
    height: 10vb;
    width: 10vb;;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border-radius: 50%;
}
.person2 {
    text-align: left;
    background-color: #d7d5ef;
    font-size: medium;
    font-weight: bolder;
    padding-left: 3rem;
    height: 6vb;
}
.person1{
    text-align: right;
    background-color: #FFDCCC;
    font-size: medium;
    font-weight: bolder;
    padding-right: 3rem;
    height: 6vb;
}